@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mejoras de interacción visual (Feature UI) */
.btn-reserva-hover {
    transition: all 0.3s ease-in-out;
}
.btn-reserva-hover:hover {
    transform: scale(1.02);
    opacity: 0.9;
}